{% extends '::frontend.html.twig' %}


{% block content %}
	<h1>Agregar Producto</h1>

	    <ol class="breadcrumb">
		    <li> <a href="{{asset('aluvirio')}}">Inicio</a></li>
	        <li> <a href="{{asset('proveedores')}}">Proveedores</a></li>
	        <li class="active">Agregar Producto</li>
	    </ol>

    <br><br>

<div class="form">

	{{ form_start(form) }}

	<div class="input-group">
	
		{{form_start(form, {'action':'', 'method':'POST'})}}
        {{form_end(form)}}

		<button type="submit" name="" class="btn btn-default button-form">Añadir Producto</button>

	</div>

	{{ form_end(form) }}

</div>

{% endblock %}