{% extends '::frontend.html.twig' %}

{% block content %}

	<h1>Obras</h1>

		<ol class="breadcrumb">
		    <li> <a href="{{asset('aluvidrio')}}">Inicio</a></li>
	        <li class="active">Ofertas</li>
	    </ol>

	    {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

	 <a href="{{path('obra_costeofertado')}}" title="Coste_Oferta" class="btn btn-success">Coste Ofertas</a> <br><br>

	<table class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Obra</th>
					<th>Cliente</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
				{% for obra in obras %}
				<tr>
					<td>{{obra.obra}}</td>
					<td>{{obra.cliente}}</td>
					<td>{{obra.fecha|date('d/m/Y')}}</td>
					<td>{{obra.estado}}</td>
					<td>
						<a href="{{asset('oferta/coste/add')}}/{{obra.id}}" title="Editar" class="btn btn-primary">Añadir Oferta</a>
					</td>
				</tr>
				{% endfor %}

		</table>
	</table>

{% endblock %}