{% extends '::frontend.html.twig' %}

{% block content %}

	<h1>Operarios</h1>

		<ol class="breadcrumb">
		    <li> <a href="{{asset('aluvidrio')}}">Inicio</a></li>
		    <li class="active">Operarios</li>
	    </ol>

	    {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

    <a href="{{asset('operario/add')}}" title="Agregar" class="btn btn-success">Agregar</a> <br><br>


	<table class="table-responsive">
		<table id="operarios" class="table table-bordered">
			<thead>
				<tr>
					<th>Cod.Operario</th>
					<th>Nombre</th>
					<th></th>
				</tr>
			</thead>
				{% for operario in operarios %}
					<tr>
						<td class="">{{operario.codoperario}}</td>

						<td >{{operario.nombre}}</td>

						<td>	
							<a href="{{asset('operario/edit')}}/{{operario.id}}"><img src="{{ asset('public/images/editar.png') }}" class="" title="editar" class="btn btn-warning"></a>	
							-
							<a href="{{asset('operario/delete')}}/{{operario.id}}" title="eliminar" onclick="return confirm('¿Está seguro que desea borrar el operario?')"><img src="{{ asset('public/images/eliminar.png') }}" class="" title="editar" class="btn btn-warning"></a>		
						</td>
					</tr>

					
				{% endfor %}


		</table>
	</table>

{% endblock %}


