{% extends '::frontend.html.twig' %}

{% block content %}

	<h1>Productos</h1>

		<ol class="breadcrumb">
		    <li> <a href="{{asset('aluvidrio')}}">Inicio</a></li>
		    <li class="active">Productos</li>
	    </ol>

	    {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

    <a href="{{asset('producto/add')}}" title="Agregar" class="btn btn-success">Agregar</a> <br><br>


	<table class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Prefijo</th>
					<th>Cod.Prod.</th>
					<th>Descripción</th>
					<th></th>
				</tr>
			</thead>
				{% for producto in productos %}
				<tr>
					<td>{{producto.prefijo}}</td>
					<td>{{producto.codprod}}</td>
					<td>{{producto.descripcion}}</td>
					<td>
						<a href="{{asset('producto/edit')}}/{{producto.id}}" title="Editar"><img src="{{ asset('public/images/editar.png') }}" class="" title="Editar" class="btn btn-warning"></a>
						
						<a href="{{asset('producto/delete')}}/{{producto.id}}" title="eliminar" onclick="return confirm('¿Está seguro que desea borrar el operario?')"><img src="{{ asset('public/images/eliminar.png') }}" class="" title="editar" class="btn btn-warning"></a>
					</td>
				</tr>
				{% endfor %}

		</table>
	</table>

{% endblock %}
